[package]
name = "opening-hours"
version = "0.2.0"
authors = ["Rémi Dupré <remi@dupre.io>"]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/remi-dupre/opening-hours-rs"
documentation = "https://docs.rs/opening-hours-rs"
homepage = "https://github.com/remi-dupre/opening-hours-rs"
description = "A parser and toolkit for the opening_hours fields in OpenStreetMap."
edition = "2018"

[profile.release]
codegen-units = 1
lto = "fat"

[dependencies]
chrono = "0.4"
once_cell = "1.5.2"
pest = "2.0"
pest_derive = "2.0"

[build-dependencies]
chrono = "0.4"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "benchmarks"
harness = false
