[package]
name = "opening-hours"
version = "0.1.11"
authors = ["Rémi Dupré <remi@dupre.io>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/remi-dupre/opening-hours-rs"
description = "A parser for the opening_hours fields from OpenStreetMap."
edition = "2018"

[profile.release]
codegen-units = 1
lto = "fat"

[dependencies]
chrono = "0.4"
once_cell = "1.5.2"
pest = "2.0"
pest_derive = "2.0"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "benchmarks"
harness = false
