[package]
name = "opening-hours"
version = "0.1.7-1"
authors = ["Rémi Dupré <r.dupre@qwant.com>"]
edition = "2018"

[profile.release]
codegen-units = 1
lto = "fat"

[dependencies]
chrono = "0.4"
once_cell = "1.5.2"
pest = "2.0"
pest_derive = "2.0"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "benchmarks"
harness = false
