[tool.poetry]
name = "opening-hours-py"
version = "0.6.18"
description = "A parser for the opening_hours fields from OpenStreetMap."
authors = ["Rémi Dupré <remi@dupre.io>"]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
maturin = ">=1,<2"
pdoc = "^12.0.1"

[build-system]
requires = ["poetry>=0.12", "maturin>=1,<2"]
build-backend = "maturin"

[tool.maturin]
manifest-path = "python/Cargo.toml"
