[package]
name = "opening-hours-py"
version = "0.1.1"
authors = ["Rémi Dupré <r.dupre@qwant.com>"]
edition = "2018"

[lib]
name = "opening_hours"
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1
lto = "fat"

[dependencies]
chrono = "0.4"
opening-hours = { path = ".." }

[dependencies.pyo3]
version = "0.12.4"
features = ["extension-module"]
