name: Deploy Docs

on:
  - push

jobs:
  deploy-python-doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependancies
        run: poetry install

      - name: Check packaging for pypi.org
        run: poetry run maturin develop

      - name: Build python documentation
        run: poetry run pdoc -o docs -d numpy opening_hours

      - name: Publish to github pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
