name: Lints and Tests

on:
  - push

env:
  CARGO_TERM_COLOR: always

jobs:
  # ---
  # --- Run tests and lints
  # ---
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        crate: ["opening-hours-syntax", "."]
        toolchain: ["stable", "beta", "nightly"]

    defaults:
      run:
        working-directory: ${{ matrix.crate }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          default: true
          profile: minimal
          components: rustfmt, clippy

      - name: Display rust version
        run: |
          rustc --version
          cargo clippy -- --version
          cargo fmt -- --version

      - name: Lint
        run: cargo clippy -- -D warnings
        if: matrix.toolchain != 'nightly'

      - name: Format
        run: cargo fmt -- --check
        if: matrix.toolchain != 'nightly'

      - name: Tests
        run: cargo test

  # ---
  # --- Execute tests for python package
  # ---

  test-python:
    runs-on: ubuntu-latest


    defaults:
      run:
        working-directory: python

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          profile: minimal

      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dev dependancies
        run: poetry install

      - name: Build Python package
        run: poetry run maturin develop

      - name: Run doctests
        run: poetry run ./run_doctests.py

  # ---
  # --- Compute coverage and upload to codecov.io
  # ---
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          profile: minimal

      - name: Coverage
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: 0.20.1
          args: '--ignore-panics --ignore-tests'

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
